*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #f0f0f0; 
}

.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 7px 26px;
    border: 2px solid #0f8cbd;
    color: white;
    text-decoration: none;
    background: #13abe7da;
}

.title1{
    font-size: 100px;
    font-weight: 600;
    margin-top: 190px;
    color: #3893afe5;
    margin-left: 45px;
    /*box-shadow: 0 4px 15px rgba(35, 122, 236, 0.87);*/ 
    border-radius: 30px;
    max-width: 1000px;  
}

.quienesC p{
    font-size: 40px;
    color: #7c7c7c9a;
    text-align: center;
    margin-top: 70px;
    text-shadow: #292929;
    box-shadow: #292929;

    
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #ffffff;
    position: fixed;
    width: 96.4%;
    z-index: 100;
    margin-right: 0.625rem;
    margin-left: 1.25rem;
    border-top: 6.25rem;
}

.head .logo .btn{
    display: flex;
    background: #ffffff;
    padding: 7px 26px;
    border: 2px solid #ffffff;
    font-size: 35px;
    margin-top: 2px;
    color: #000000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    height: 120vh !important;
    background: url(img/FONDo.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.content2{
    height: 20vh !important;
    padding-top: 300px;
    padding-left: 500px;
    background: url(img/SantoTo.png) no-repeat center center;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
}

.quienes p{
    font-size:21px;
    color: #000000;
    text-align: center;
    margin-top: 0p;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 150px;
}

.quienes .title2{
    font-size: 25px;
    color: #000000;
    text-align: center;
    text-shadow: #292929;
    box-shadow: #292929;
    margin-top: -250px;
    margin-left: 25px; ;
    
}

.nav_list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0.313rem 0.313rem;
}

.nav_item{
    margin-right: 1.875rem;

}

.nav_link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    padding: 0.438rem 2.188rem;
    background-color: transparent;
    border-radius: 0.313rem;
    transition: background-color 0.3s, box-shadow 0.3s;

}

.nav a:hover{
    background-color: #cecece;
    box-shadow: 0 0 0.75rem rgba(223, 226, 230, 0.6);
}

.nav_toogle{
    display: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 900;
    
}

.nav_container{
    background-color: #ffffff; ;
    padding: 0.625rem 1.25rem;
}

/* Compatibilidad Celular */
@media (max-width: 769px){
    
    .title{
        margin-bottom: 0;
        font-size: 35px;
    }

    .sau{
        height: 270vh;
        padding: 4rem;
    }

    .box-container .box{
    height: 16rem;
    width: 9rem;
    background: #fefefe;
    text-align: center;
    border-radius: 1rem ;
    box-shadow: 0 .3rem 5rem rgba(3, 167, 255, 0.105);
    margin: 2rem;
}

    p{
        padding: 0 10px;
        font-size: 17px;
    }

    .header p{
    color: rgba(0, 0, 0, 0.63);
    font-weight: 600;
    margin-left: 80px;
    margin-right: 80px;
}

    .nav{
    background-color: #ffffff;
    }

    .nav_container{
    background: #ffffff;
    width: min(90%, 1200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    --icon-toogle-menu: url("./assets/icono_menu.svg");
    --trasform-menu-show: translateX(-100%);
    }

    .nav_container:has(.nav_input:checked){
    --icon-toogle-menu: url("./assets/Cerrar_menu.svg");
    --trasform-menu-show: translateX(0);
    }

    .nav_link{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    }

    .nav_list{
    list-style: none;
    position: fixed;
    inset: 0;
    padding: 1.5rem 5%;
    background: #171717;
    display: grid;
    gap: 2rem;
    text-align: center;
    transform: var(--trasform-menu-show);
    transition: .5s transform ;
    flex-direction: column;
    }

    .nav_figure, .nav_toogle{
    z-index: 10;
    }

    .nav_toogle{
    width: 20px;
    height: 20px;
    background-image: var(--icon-toogle-menu);
    background-size: cover;
    cursor: pointer;
    transition: background-image .5s;
    margin-top: 5px;
    margin-right: 20px;
    display: block;
    
    }

    .nav_input{
    width: 10px;
    height: 10px;
    display: none;
    }
}
